body {
  background-image: url("./Leaves.jpg");
}

.container {
  padding: 20% 20px;
  background-color: rgb(20, 20, 20, 0.85);
  margin: 4% 30%;
  position: relative;
}
input {
  position: absolute;
  bottom: 8%;
  width: 90%;
}
ul {
  max-height: 25rem;
  overflow-y: auto;
}

ul::-webkit-scrollbar {
  background-color: #dd841e;
  border-radius: 10px;
}
ul::-webkit-scrollbar-thumb {
  background-color: #0f0808;
  border: 1px solid #333333;
  border-radius: 10px;
}

ul > li {
  text-decoration: none;
  list-style: none;
  color: white;
  margin-top: 0.5em;
}
