body {
  background-image: url("./Leaves.jpg");
}

.container {
  padding: 20% 20px;
  background-color: rgb(20, 20, 20, 0.85);
  margin: 4% 30%;
  position: relative;
}
input {
  position: absolute;
  bottom: 8%;
  width: 90%;
}
