body {
  background-image: url(https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.container {
  padding: 20% 20px;
  background-color: rgb(20, 20, 20, 0.85);
  margin: 4% 30%;
  position: relative;
}

.btn{
  background: #dd841e;
  position: absolute;
  bottom: 8%;
  width: 10%;
  right: 5%;
cursor: pointer;
  color: rgb(0, 0, 0);
  outline-color: maroon;
}
input {
  position: absolute;
  bottom: 8%;
  width: 90%;
  background-color: rgba(255, 255, 255);
  color: rgb(0, 0, 0);
  outline-color: maroon;
}
ul {
  max-height: 25rem;
  overflow-y: auto;
}

ul::-webkit-scrollbar {
  background-color: #dd841e;
  border-radius: 10px;
}
ul::-webkit-scrollbar-thumb {
  background-color: #0f0808;
  border: 1px solid #333333;
  border-radius: 10px;
}

ul > li {
  text-decoration: none;
  list-style: none;
  color: white;
  margin-top: 0.5em;
}


